*{
    box-sizing: border-box;
}


.list,.title{
    font-weight: bold;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

.title{
    font-size: 36px;
    margin: 20px 0 0 20px;
}


.list{
    font-size: 22px;
    margin: 20px 0 0 10px;
}

.title a:hover{
    background-color: gray;
}

#green-curry{
    background-color: green;
    color: white;
    border: 5px solid purple;
    padding: 10px;
}

#pad{
    background-color: orange;
    color: white;
    border: 5px solid red;
    padding: 10px;
}